<body>
	
	<div class = "container">
		
	

		<div class = "header">

			<div class = "navbardiv">
				<a class = "logo" href="#" routerLink="/">A Travel Agency</a>
				<nav>
					<ul>
						<li><a href="#" routerLink="/">Home</a></li>
						<li><a href="#" routerLink="/">Blog</a></li>
						<li><a href="#" routerLink="/">Travels</a></li>
					</ul>
				</nav>

			</div>
			
		</div>


		<div class = "navtext">
			<div class = "navside">

				<div id = "contacttext">

					<p id = "normaltext">Experience The <br> <span id = "specialtext">Best Trip Ever</span><br>
					<button id = "contactbtn" type="button">Contact us</button>
					</p>
					
				</div>

			</div>

			<div class = "navside">
				
			</div>
		</div>
	</div>
</body>